<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="banner-parent">
      <div class="header">
        <img src="logo.png" />
        <div class="header-right" id="myheader">
          <a href="#Home">Home</a>
          <a href="#Our Shop">Our Shop</a>
          <a href="Product details">Product details</a>
          <a href="#Contact Us">Contact Us</a>
          <a button="SIGN IN">SIGN IN</a>
        </div>
        <!-- <header class="header-img"> -->
        <!-- <a href="logo" class="logo"> -->
      </div>

      <div class="banner">
        <!-- <h1>MODERN WARFARE® II</h1> -->
        <div class="banner-content">
          <div class="content-left">
            <h6>WELCOME TO LUGX</h6>
            <h2>BEST GAMING SITE EVER!</h2>
            <p>
              LUGX Gaming is free Bootstrap 5 HTML CSS website template for your
              gaming websites. You can download and use this layout for
              commercial purposes. Please tell your friends about TemplateMo.
            </p>
            <div class="search">
              <input type="text" placeholder="Type Something" />
              <button btn="button">Search</button>
            </div>
          </div>
          <div class="content-right">
            <img src="banner-image.jpg" />
            <span class="price">$22</span>
            <span class="offer">-40%</span>
          </div>
        </div>
        <div class="cards">
          <div class="card">
            <a href="#">
              <div class="item">
                <div class="image">
                  <img src="featured-01.png" />
                </div>
                <h4>Free Storage</h4>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="item">
                <div class="image">
                  <img src="featured-03.png" />
                </div>
                <h4>Free Storage</h4>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="item">
                <div class="image">
                  <img src="featured-03.png" />
                </div>
                <h4>User mode</h4>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="item">
                <div class="image">
                  <img src="featured-03.png" />
                </div>
                <h4>Free Storage</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="most-played">
      <h6 class="topTitle">TOP GAMES</h6>
      <div class="secondtitle">
        <h2>Most Played</h2>
        <button class="main-button">View All</button>
      </div>
      <div class="card-container">
        <div class="card">
          <img src="top-game-04.jpg" />
          <span class="category">Adventure</span>
          <h4>Assasin Creed</h4>
          <button>Explore</button>
        </div>
        <div class="card">
          <img src="top-game-04.jpg" />
          <span class="category">Adventure</span>
          <h4>Assasin Creed</h4>
          <button>Explore</button>
        </div>
        <div class="card">
          <img src="top-game-04.jpg" />
          <span class="category">Adventure</span>
          <h4>Assasin Creed</h4>
          <button>Explore</button>
        </div>
        <div class="card">
          <img src="top-game-04.jpg" />
          <span class="category">Adventure</span>
          <h4>Assasin Creed</h4>
          <button>Explore</button>
        </div>
        <div class="card">
          <img src="top-game-04.jpg" />
          <span class="category">Adventure</span>
          <h4>Assasin Creed</h4>
          <button>Explore</button>
        </div>
        <div class="card">
          <img src="top-game-04.jpg" />
          <span class="category">Adventure</span>
          <h4>Assasin Creed</h4>
          <button>Explore</button>
        </div>
      </div>
    </div>
    <div class="Top">
      <h5><center>CATEGORIES</center></h5>
      <h4><center>TOP CATEGORY</center></h4>
    </div>
    <div class="cardd-container">
      <div class="cardd">
        <h3>Action</h3>
        <img src="top-game-04.jpg" />
      </div>
      <div class="cardd">
        <h3>Action</h3>
        <img src="top-game-04.jpg" />
      </div>
      <div class="cardd">
        <h3>Action</h3>
        <img src="top-game-04.jpg" />
      </div>
      <div class="cardd">
        <h3>Action</h3>
        <img src="top-game-04.jpg" />
      </div>
      <div class="cardd">
        <h3>Action</h3>
        <img src="top-game-04.jpg" />
      </div>
    </div>

    <div class="carddd-container">
      <div class="first-item">
        <h5>OUR SHOP</h5>
        <h2>
          GO Pre-Order Buy & Get Best
          <em>Prices</em>
          For You!
        </h2>
        <p>
          Lorem ipsum dolor consectetur adipiscing, sed do eiusmod tempor
          incididunt.
        </p>
        <button class="shop">SHOP NOW</button>
      </div>
      <img src="a.jpg" />

      <div class="second-item">
        <h5>NEWSLETTER</h5>
        <h2>Get Up To $100 Off Just Buy <em>Subscribe</em> Newsletter!</h2>
        <div class="email">
          <input type="text" placeholder="youe email..." />
          <button btn="button">SUBSCRIBE NOW</button>
        </div>
      </div>
    </div>>
    <div class="footer">
    <p>Copyright © 2048 LUGX Gaming Company. All rights reserved.    Design: TemplateMo</p>
    </div>
  
  </body>
</html>
